<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title> Login </title>
    <link rel ="stylesheet" href ="/stylesheets/login_page.css" />

</head>
<body>
  <section id ="page_title">
    <h1 class="title"> S . F . U </h1>
    <h2 class="title"> Special Fortification Unit</h2>
  </section>
  <section id="login_box">
    <p id='msg'><%=message%></p>
    <div class ="imgcontainer">
      <img src="/image/login_profile2.png" id="log_in_photo" alt="avatar">
    </div>
    <form action="/checkAccount" method='post'>
      <input type="text" placeholder="Username" id="username" name="username" required>
      <input type="password" placeholder="Password" id="password" name="password" required>
      <input type="submit" id="sign_in_button" value="JOIN US" />
    </form>
    <button onclick="window.location.href ='register'"id="sign_up_button">REGISTER </button>
    <div class="sign_in_options_box">
      <p>Sign In With: </p>
      <button class="sign_in_options" id="gmail">
        <img src="/image/gg_login.png" height="100%" width="100%">
      </button>
    </div>
  </section>
</body>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="724640681185-50sh73ojcn61bg4uinoohvhf9s0b73ga.apps.googleusercontent.com">
<div class="g-signin2" data-onsuccess="onSignIn"></div>
<a href="#" onclick="signOut();">Sign out</a>
<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>
<!-- <script src="../../static/google-utils.js"></script> -->
</html>

<script>
  var msg = document.querySelector('#msg');
  if (msg.innerHTML !='')
    {
      alert(msg.innerHTML);
    };
  function onSignIn(googleUser) {
    var profile = googleUser.getBasicProfile();
    console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
    console.log('Name: ' + profile.getName());
    console.log('Image URL: ' + profile.getImageUrl());
    console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
  }
</script>
